/* Указываем box sizing */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	outline: 0;
	appearance: none;
	border: 0;
	list-style: none;
  	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #fff;
  overflow-x: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
 	width: 100%;
  	display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}



/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=EB+Garamond&family=Inter&family=Lato&family=Lobster&family=Montserrat&family=Playfair+Display&family=Poppins:wght@400;500;700&family=Raleway&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500&display=swap');
body{
	color: #fff;
	font-size: 14px;
	-webkit-app-region: drag;
}

.container{
	max-width: 100%;
	height: calc(100vh - 40px);
	margin: 0 auto;
	padding: 0;
	display: grid;
	grid-template-columns: 200px auto;
	-webkit-app-region: no-drag;
}

body .header{
	background:#4f5b66;
	-webkit-box-shadow: 0px -5px 9px -3px rgba(0, 0, 0, 0.6) inset;
-moz-box-shadow: 0px -5px 9px -3px rgba(0, 0, 0, 0.6) inset;
box-shadow: 0px -5px 9px -3px rgba(0, 0, 0, 0.6) inset;
	/* border: 1px solid #000; */
	backdrop-filter: blur(3px);
	display: flex;
	height: 30px;
	user-select: none;
	align-items: center;
}


/* ============================================ aside ============================================= */

aside{
	background: #343536;
	backdrop-filter: blur(3px);
	-webkit-box-shadow: -5px -5px 11px -5px rgba(0, 0, 0, 0.6) inset;
	-moz-box-shadow: -5px -5px 11px -5px rgba(0, 0, 0, 0.6) inset;
	box-shadow: -5px -5px 11px -5px rgba(0, 0, 0, 0.6) inset;
	-webkit-app-region: no-drag;
	height: 100vh;
}
aside .navbar{
	display: flex;
	flex-direction: column;
	align-items: left;
	text-align: center;
	margin: 20px 10px;
	border: 0px solid #000;
	border-radius: 12px;
	padding: 10px 10px;
	-webkit-box-shadow: 0px 5px 10px 7px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 5px 10px 7px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 10px 7px rgba(0, 0, 0, 0.2);


}
aside .navbar .wrapper-inner{
	margin-bottom: 30px;
	
}
aside .navbar .day{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	background-color: 
	#F0F4FC;
	color: #ff7782;
	font-size: 16px;
	
}
aside .navbar .month{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	background-color: 
	#F0F4FC;
	color: #ff7782;
	font-size: 16px;
}
aside .navbar .years{
	width: 80px;
	height: 30px;
	border-radius: 30px;
	text-align: center;
	background-color: #F0F4FC;
	color: #ff7782;
	font-size: 16px;
	
}

aside .navbar .sub{
	width: 140px;
	height: 30px;
	border-radius: 30px;
	font-size: 16px;
	font-weight: 600;
	background-color: #434343;
    background-image: -webkit-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
    background-image: -moz-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
    background-image: -o-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
    background-image: -ms-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
    background-image: linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7A7A7A), to(#515151));
    border: none;
    border-top: 3px solid #c2c2c2;
    /*border-radius*/
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    margin-right: 10px;
    text-decoration: none;
    color: #242424;
    background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),                        -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),                        -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),                        -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),                                                -webkit-repeating-radial-gradient(    50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),                        -webkit-repeating-radial-gradient(    50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),                        -webkit-repeating-radial-gradient(    50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),                                                -webkit-radial-gradient(    50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
	 transition: all 0.3s ease-out;
}
aside .navbar .sub:active{
	transform: scale(1.1,1.1);
}

aside .navbar .sub:hover{
	
	-webkit-box-shadow: 5px -1px 26px 7px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 5px -1px 26px 7px rgba(0, 0, 0, 0.2);
box-shadow: 5px -1px 26px 7px rgba(0, 0, 0, 0.2);
}

/* ============================= main ======================== */

main{
	background: url(../img/Laura_psihologist-15.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
	overflow: auto;
	-webkit-app-region: no-drag;
}

main .main-content .main-content__inner{
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

main .main-content .main-content__inner .left-side{
	/* background: rgba(16, 18, 27,  40%);;
	border-radius: 16px;
	backdrop-filter: blur(3px); */
	/* box-shadow: 0 4px 30px rgba(26, 26, 26, 0.8); */
	/* width: 500px;
	height: 500px; */
	margin: 10px 10px;
	color: #000;
	font-size: 18px;
	font-weight: 700;
}

main .main-content .main-content__inner .left-side .inner{
	background: url(../img/matrix\ \(3\).png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 400px;
	height: 400px;
	position: relative;
	margin-left: 50px;

}
main .main-content .main-content__inner .left-side .inner .point-1{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 46.5%;
	left: 3.7%;
}
main .main-content .main-content__inner .left-side .inner .point-2{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 2.3%;
	left: 48%;
}
main .main-content .main-content__inner .left-side .inner .point-3{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 46.5%;
	left: 92.5%;
}
main .main-content .main-content__inner .left-side .inner .point-4{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 91.3%;
	left: 48%;
}
main .main-content .main-content__inner .left-side .inner .point-5{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 46.5%;
	left: 48%;
}
main .main-content .main-content__inner .left-side .inner .point-6{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 15.5%;
	left: 16.5%;
}
main .main-content .main-content__inner .left-side .inner .point-7{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 15.5%;
	left: 79.3%;
}
main .main-content .main-content__inner .left-side .inner .point-8{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 78%;
	left: 79.3%;
}
main .main-content .main-content__inner .left-side .inner .point-9{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 78%;
	left: 16.5%;
}
main .main-content .main-content__inner .left-side .inner .point-10{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 75.5%;
	font-size: 16px;
	font-weight: 700;
	left: 45.5%;
}
main .main-content .main-content__inner .left-side .inner .point-11{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 84%;
	left: 45%;
	font-size: 16px;
	font-weight: 700;
}
main .main-content .main-content__inner .left-side .inner .point-12{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 18.5%;
	left: 45.3%;
	font-size: 16px;
	font-weight: 700;
}
main .main-content .main-content__inner .left-side .inner .point-13{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 9%;
	left: 46%;
	font-size: 16px;
	font-weight: 700;
}
main .main-content .main-content__inner .left-side .inner .point-14{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 44.5%;
	left: 77.5%;
	font-size: 16px;
	font-weight: 700;
}
main .main-content .main-content__inner .left-side .inner .point-15{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 59%;
	left: 64%;
	font-size: 16px;
	font-weight: 700;
}
main .main-content .main-content__inner .left-side .inner .point-16{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 72%;
	left: 58%;
	font-size: 16px;
	font-weight: 700;
}
main .main-content .main-content__inner .left-side .inner .point-17{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 57%;
	left: 74%;
	font-size: 16px;
	font-weight: 700;
}
main .main-content .main-content__inner .left-side .inner .point-18{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 49.5%;
	left: 20%;
	font-size: 16px;
	font-weight: 700;
}
main .main-content .main-content__inner .left-side .inner .point-19{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 49.5%;
	left: 12%;
	font-size: 16px;
	font-weight: 700;
}
main .main-content .main-content__inner .left-side .inner .point-20{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 49.5%;
	left: 36.3%;
	font-size: 16px;
	font-weight: 700;
}
main .main-content .main-content__inner .left-side .inner .point-21{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 34%;
	left: 46%;
	font-size: 16px;
	font-weight: 700;
}





main .main-content .main-content__inner .left-side .destination {
	background: url(../img/full-removebg-preview\ \(1\).png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 400px;
	height: 330px;
	position: relative;
	color: #000;
	text-align: center;
	margin: 10px 0px 0px 100px;	
}
main .main-content .main-content__inner .left-side .destination .pnt-1{
	position: absolute;
	top: 4.2%;
	left: 54.7%;
	width: 20px;
	height: 20px;
}
main .main-content .main-content__inner .left-side .destination .pnt-2{
	position: absolute;
	top: 16%;
	left: 54.7%;
	width: 20px;
	height: 20px;
}
main .main-content .main-content__inner .left-side .destination .pnt-3{
	position: absolute;
	top: 10%;
	left: 70%;
	width: 20px;
	height: 20px;
}
main .main-content .main-content__inner .left-side .destination .pnt-4{
	position: absolute;
	top: 37%;
	left: 54.7%;
	width: 20px;
	height: 20px;
}
main .main-content .main-content__inner .left-side .destination .pnt-5{
	position: absolute;
	top: 49%;
	left: 54.7%;
	width: 20px;
	height: 20px;
}
main .main-content .main-content__inner .left-side .destination .pnt-6{
	position: absolute;
	top: 43%;
	left: 70%;
	width: 20px;
	height: 20px;
}
main .main-content .main-content__inner .left-side .destination .pnt-7{
	position: absolute;
	top: 65%;
	left: 70%;
	width: 20px;
	height: 20px;
}
main .right-side{
	background: rgba(127, 128, 132, 0.4);
	/* border: 1px solid #000; */
	border-radius: 16px;
	backdrop-filter: blur(5px);
	/* box-shadow: 0 4px 30px rgba(26, 26, 26, 0.8); */
	height: 90vh;
	margin: 10px 10px;
	color: #000;
	font-weight: 500;
	overflow: auto;
	padding: 30px 30px 30px 30px;
	-webkit-box-shadow: -1px 13px 21px 5px rgba(0, 0, 0, 0.2);
-moz-box-shadow: -1px 13px 21px 5px rgba(0, 0, 0, 0.2);
box-shadow: -1px 13px 21px 5px rgba(0, 0, 0, 0.2);

}
main .right-side .inner{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	padding: 30px 50px;
	font-size: 18px;
	width: 900px;
	margin: 0 auto;
}

main .right-side .inner h2{
	display: inline;
	width: 100%;
	text-align: left;
	color: #e92435;
	font-size: 20px;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
	width: 0px; /* ширина для вертикального скролла */
	height: 8px; /* высота для горизонтального скролла */
	background-color: #000;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 1em;
	/* box-shadow: inset 1px 1px 10px #f3faf7; */
}

::-webkit-scrollbar-thumb:hover {
	background-color: 	#4f5b66;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
	background: transparent;
}

::-webkit-scrollbar-button:vertical:end:increment {
	background: transparent;
}

/* ================================= text ================================ */
.down{
	display: flex;
	flex-direction: column;
	font-size: 20px;
}
.down-title{
	cursor: pointer;
}
.main-wrapper{
	display: flex;
	flex-direction: column;
	gap: 30px;
	max-height: 0;
	overflow: hidden;
}
.main-wrapper.active{
	max-height: 100%;

}
.wrapper-a{
	font-size: 18px;
}
.overlay{
	margin-bottom: 10px;
}
.overlay__title {
	cursor: pointer;
}

.overlay__span{
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
	color: #e92435;
	max-height: 0;
	overflow: hidden;
}
.overlay__span.active{
	max-height: 100%;
}
.about-span{
	max-height: 0;
	overflow: hidden;
	font-size: 18px;
	color: #e92435;
}
.about-span.active{
	max-height: 100%;
}
.plus-span{
	max-height: 0;
	overflow: hidden;
}

.plus-span.active{
	max-height: 100%;
}
.minus-span{
	max-height: 0;
	overflow: hidden;
}
.minus-span.active{
	max-height: 100%;
}
.rework-span{
	max-height: 0;
	overflow: hidden;
}
.rework-span.active{
	max-height: 100%;
}
.retual-span{
	max-height: 0;
	overflow: hidden;
}
.retual-span.active{
	max-height: 100%;
}

.wrapper-b{
	margin-top: 35px;
	margin-bottom: 35px;
}
.wrapper-d{
	margin-top: 35px;
	margin-bottom: 35px;
}
.wrapper-f{
	margin-top: 35px;
	margin-bottom: 35px;
}
.wrapper-w{
	margin-top: 35px;
	margin-bottom: 35px;
}
.wrapper-z{
	margin-top: 35px;
	margin-bottom: 35px;
}

.overlay-b-span{
	max-height: 0;
	overflow: hidden;
}
.overlay-b-span.active{
	max-height: 100%;
}
.wrapper-b__about-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-b__about-span.active{
	max-height: 100%;
}
.wrapper-b__plus-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-b__plus-span.active{
	max-height: 100%;
}
.wrapper-b__minus-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-b__minus-span.active{
	max-height: 100%;
}
.wrapper-b__rework-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-b__rework-span.active{
	max-height: 100%;
}
.wrapper-b__retual-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-b__retual-span.active{
	max-height: 100%;
}
.overlay-c-span{
	max-height: 0;
	overflow: hidden;
}
.overlay-c-span.active{
	max-height: 100%;
}
.wrapper-c__about-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-c__about-span.active{
	max-height: 100%;
}
.wrapper-c__plus-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-c__plus-span.active{
	max-height: 100%;
}
.wrapper-c__minus-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-c__minus-span.active{
	max-height: 100%;
}
.wrapper-c__rework-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-c__rework-span.active{
	max-height: 100%;
}
.wrapper-c__retual-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-c__retual-span.active{
	max-height: 100%;
}

.overlay-d-span{
	max-height: 0;
	overflow: hidden;
}
.overlay-d-span.active{
	max-height: 100%;
}
.wrapper-d__about-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-d__about-span.active{
	max-height: 100%;
}

.wrapper-d__plus-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-d__plus-span.active{
	max-height: 100%;
}
.wrapper-d__minus-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-d__minus-span.active{
	max-height: 100%;
}
.wrapper-d__rework-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-d__rework-span.active{
	max-height: 100%;
}
.wrapper-d__retual-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-d__retual-span.active{
	max-height: 100%;
}

.overlay-e-span{
	max-height: 0;
	overflow: hidden;
}
.overlay-e-span.active{
	max-height: 100%;
}
.wrapper-e__about-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-e__about-span.active{
	max-height: 100%;
}
.wrapper-e__plus-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-e__plus-span.active{
	max-height: 100%;
}
.wrapper-e__minus-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-e__minus-span.active{
	max-height: 100%;
}
.wrapper-e__rework-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-e__rework-span.active{
	max-height: 0;
}
.wrapper-e__retual-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-e__retual-span.active{
	max-height: 100%;
}

.overlay-f-span{
	max-height: 0;
	overflow: hidden;
}
.overlay-f-span.active{
	max-height: 100%;
}
.wrapper-f__about-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-f__about-span.active{
	max-height: 100%;
}
.wrapper-f__plus-span{
	max-height: 0;
	overflow: hidden;
}
.wrapper-f__plus-span.active{
	max-height: 100%;
}





/* =========================================================================================== */

@media (max-width: 1200px){
	main .main-content .main-content__inner .left-side .inner{
		width: 400px;
		height: 400px;
		
	}
	main .main-content .main-content__inner .left-side .inner .point-1{
		position: absolute;
		text-align: center;
		width: 20px;
		height: 20px;
		top: 46.5%;
		left: 3.5%;
	}
	main .main-content .main-content__inner .left-side .inner .point-2{
		position: absolute;
		text-align: center;
		width: 20px;
		height: 20px;
		top: 2%;
		left: 48%;
	}
	main .main-content .main-content__inner .left-side .inner .point-3{
		position: absolute;
		text-align: center;
		width: 20px;
		height: 20px;
		top: 46.5%;
		left: 92.3%;
	}
	main .main-content .main-content__inner .left-side .inner .point-4{
		position: absolute;
		text-align: center;
		width: 20px;
		height: 20px;
		top: 91%;
		left: 48%;
	}
	main .main-content .main-content__inner .left-side .inner .point-5{
		position: absolute;
		text-align: center;
		width: 20px;
		height: 20px;
		top: 46.5%;
		left: 48%;
	}
	main .main-content .main-content__inner .left-side .inner .point-6{
		position: absolute;
		text-align: center;
		width: 20px;
		height: 20px;
		top: 15.5%;
		left: 16.6%;
	}
	main .main-content .main-content__inner .left-side .inner .point-7{
		position: absolute;
		text-align: center;
		width: 20px;
		height: 20px;
		top: 15.6%;
		left: 79.5%;
	}
	main .main-content .main-content__inner .left-side .inner .point-8{
		position: absolute;
		text-align: center;
		width: 20px;
		height: 20px;
		top: 77.8%;
		left: 79.6%;
	}
	main .main-content .main-content__inner .left-side .inner .point-9{
		position: absolute;
		text-align: center;
		width: 20px;
		height: 20px;
		top: 78%;
		left: 16.6%;
	}
	
}
@media (max-width: 1024px){
	main .main-content .main-content__inner .left-side{
		display: flex;
		align-items: center;
	}
	main .main-content .main-content__inner{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	main .right-side{
		margin-left: 10px;
		/* margin-top: -90px;
	} */
}
main .main-content .main-content__inner .left-side .destination {
	width: 400px;
	height: 330px;
	margin: 10px 0px 0px 0px;	
}
main .main-content .main-content__inner .left-side .inner{
	width: 400px;
	height: 400px;
	position: relative;
	margin-left: 30px;
}
main .right-side{
	height: 45vh;
}

}
@media (max-width: 968px){
	main .main-content .main-content__inner .left-side {
		display: flex;
		align-items: center;
		
	}
	main .main-content .main-content__inner{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	main .right-side{
		margin-left: 10px;
		/* margin-top: -90px;
	} */
}
main .main-content .main-content__inner .left-side .destination {
	width: 300px;
	height: 230px;
	margin: 10px 0px 0px 0px;	
	font-size: 15px;
}
main .main-content .main-content__inner .left-side .inner{
	width: 300px;
	height: 300px;
	position: relative;
	/* margin-left: 10px; */
	font-size: 15px;
}
main .right-side{
	height: 56vh;
}
main .main-content .main-content__inner .left-side .inner .point-1{
	top: 46%;
	left: 2.7%;
}
main .main-content .main-content__inner .left-side .inner .point-2{
	top: 2%;
	left: 47.2%;
}
main .main-content .main-content__inner .left-side .inner .point-3{
	top: 46%;
	left: 91.6%;
}
main .main-content .main-content__inner .left-side .inner .point-4{
	top: 91%;
	left: 47.4%;
}
main .main-content .main-content__inner .left-side .inner .point-5{
	top: 46.2%;
	left: 47.2%;
}
main .main-content .main-content__inner .left-side .inner .point-6{
	top: 15%;
	left: 16%;
}
main .main-content .main-content__inner .left-side .inner .point-7{
	top: 15%;
	left: 78.5%;
}
main .main-content .main-content__inner .left-side .inner .point-8{
	top: 77.5%;
	left: 78.6%;
}
main .main-content .main-content__inner .left-side .inner .point-9{
	top: 77.6%;
	left: 15.6%;
}
main .main-content .main-content__inner .left-side .inner .point-10{
	top: 74.3%;
	left: 44%;
}
main .main-content .main-content__inner .left-side .inner .point-11{
	top: 81.5%;
	left: 44%;
}
main .main-content .main-content__inner .left-side .inner .point-12{
	top: 17.5%;
	left: 44.2%;
}
main .main-content .main-content__inner .left-side .inner .point-13{
	top: 8.5%;
	left: 45%;
}
main .main-content .main-content__inner .left-side .inner .point-14{
	top: 43%;
	left: 76%;
}
main .main-content .main-content__inner .left-side .inner .point-15{
	top: 57%;
	left: 63%;
}
main .main-content .main-content__inner .left-side .inner .point-16{
	top: 72%;
	left: 57%;
}
main .main-content .main-content__inner .left-side .inner .point-21{
	top: 33%;
	left: 44%;
}
main .main-content .main-content__inner .left-side .destination .pnt-1{
	top: 4%;
	left: 54%;

}
main .main-content .main-content__inner .left-side .destination .pnt-2{
	top: 17%;
	left: 54%;
}
main .main-content .main-content__inner .left-side .destination .pnt-3{
	top: 10.5%;
	left: 69.2%;
}
main .main-content .main-content__inner .left-side .destination .pnt-4{
	top: 38.6%;
	left: 54%;
}
main .main-content .main-content__inner .left-side .destination .pnt-5{
	top: 52%;
	left: 54.2%;
}
main .main-content .main-content__inner .left-side .destination .pnt-6{
	top: 45.5%;
	left: 69%;
}
main .main-content .main-content__inner .left-side .destination .pnt-7{
	top: 69%;
	left: 69%;
}
}
@media (max-width: 768px){
	main .main-content .main-content__inner .left-side{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	main .main-content .main-content__inner{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	main .right-side{
		margin-left: 10px;
		/* margin-top: -90px;
	} */
}
main .main-content .main-content__inner .left-side .destination {
	width: 300px;
	height: 230px;
	margin: 10px 0px 0px 120px;	
}
main .main-content .main-content__inner .left-side .inner{
	width: 300px;
	height: 300px;
	position: relative;
	margin-left: 30px;
}
main .right-side{
	height: 28vh;
}

}