html,
body {
	padding: 0;
	margin: 0;
	background: transparent;
}

/* Use OS default fonts */
body {
	font-family:
		system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga', 'clig', 'kern';
}
img{
	width: 100%;
}
.container{
	max-width: 100vw;
	height:100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	position: absolute;
	width: 100vw;
	height: 50px;
	
}
header .header__inner{
	display: flex;
	align-items: center;
}
header .header__inner .header__logo{
	width: 60px;
	height: 60px;
}